///________/\/_______/\/_____/\ /_____/\ /______/\  /_____/\  /_______/\ /_____/\ /_______/\/_______/\     
//\__.::.__\/\__.::._\/\:::_ \ \\:::_ \ \\::::__\/__\:::_ \ \ \::: _  \ \\::::_\/_\__.::._\/\::: _  \ \    
//  \::\ \     \::\ \  \:(_) \ \\:\ \ \ \\:\ /____/\\:(_) ) )_\::(_)  \ \\:\/___/\  \::\ \  \::(_)  \ \   
//    \::\ \    _\::\ \__\: ___\/ \:\ \ \ \\:\\_  _\/ \: __ `\ \\:: __  \ \\:::._\/  _\::\ \__\:: __  \ \  
//     \::\ \  /__\::\__/\\ \ \    \:\_\ \ \\:\_\ \ \  \ \ `\ \ \\:.\ \  \ \\:\ \   /__\::\__/\\:.\ \  \ \ 
//      \__\/  \________\/ \_\/     \_____\/ \_____\/   \_\/ \_\/ \__\/\__\/ \_\/   \________\/ \__\/\__\/ 
                                                                                                         

$FuenteTitlos: 'Yusei Magic', sans-serif;
$FuenteContenidos: 'Raleway', sans-serif;

//   ______   ______   __       ______   ______    ______   ______      
//  /_____/\ /_____/\ /_/\     /_____/\ /_____/\  /_____/\ /_____/\     
//  \:::__\/ \:::_ \ \\:\ \    \:::_ \ \\:::_ \ \ \::::_\/_\::::_\/_    
//   \:\ \  __\:\ \ \ \\:\ \    \:\ \ \ \\:(_) ) )_\:\/___/\\:\/___/\   
//    \:\ \/_/\\:\ \ \ \\:\ \____\:\ \ \ \\: __ `\ \\::___\/_\_::._\:\  
//     \:\_\ \ \\:\_\ \ \\:\/___/\\:\_\ \ \\ \ `\ \ \\:\____/\ /____\:\ 
//      \_____\/ \_____\/ \_____\/ \_____\/ \_\/ \_\/ \_____\/ \_____\/ 
//                                                                      

$Principal-Azul: #161669;
$Principal-Blanco: #EAEBFF;
$Principal-Azul-Claro: #90D5E5;

$Positivo: #30C75A;
$Negativo: #E50E0E;

$Texto-Oscuro: #EAEBFF;
$Texto-Gris: #333333;

$Fondo-Blanco: #FFFFFF;
$Dark: #0E0B23;
